:root {

}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows:20% 80% ;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
    background-color: #0891b2;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 2fr;
}

.header {
    background-color: #ecfeff;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-content {
    background-color: gray;
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.logo {
    display: flex;
    align-items: center;
    font-size: 50px;
    margin-left: 10px;
}

#cat {
    max-height: 75px;
    max-width: 75px;    
}

.navigation-top img,
.navigation-bottom img {
    max-height: 30px;
    max-width: 30px;
    margin: 0px 25px;     
}

.navigation-top,
.navigation-bottom {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.navigation-top {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.navigation-bottom {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.nav-link,
.logo {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 10px 0px 10px;
}

.header {
    padding: 0px 50px;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    max-height: 30px;
    max-width: 30px;    
}

.searchbar {
    display: flex;
}

.searchbar input {
    border: none;
    border-radius: 8px;
    background-color: gray;
    width: 400px;
}

.header-icons {
    display: flex;
}

.welcome {
    display: flex;
}

.projects {
    grid-area: projects;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}